<a href="https://colab.research.google.com/github/namanmodani/acm-ai-beginner/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Types and Operations

# ACM AI Beginner Track
## Intro to Python Code Documentation
This document serves as reference material for the Beginner Track workshop "Intro to Python". While it shouldn't be treated as a comprehensive introduction to Python (a very versatile and powerful programming language!) it contains the necessary material needed for AI's Beginner Track workshop and a bit more

This notebook has lots and lots of information and you can use it as a guide to Python throughout this workshop series. We won't be using all of the functionality described in this doc for our projects, but they're still useful to know nonetheless for future projects! 

Lastly, during this live demo we're going to be covering the parts of the python syntax that are unique to python and skipping over some of the simpler bits of syntax. But feel free to refer back to this doc in case something is unclear!

How would we do Math?

### Integers and Floats

In [ ]:
8 + 2

10

In [ ]:
# Addition
8 + 2

10

In [ ]:
# Multiplication
# this multiplies 3 times 2
3 * 2

6

In [ ]:
# Subtraction
5 - 9

-4

In [ ]:
# Modulo 
10 % 3

1

In [ ]:
## Division
5 / 6

0.8333333333333334

In [ ]:
## Integer Division
5//6

0

In [ ]:
## Exponentiation 
2**5

32

I just came up with a cool number, how do I save it?

### Variables
Variables cannot begin with numbers or special characters. Variable naming conventions use all lowercase letters, with words separated by underscores.

In [ ]:
variable = 2
variable

2

In [ ]:
first_prime_number = 2
second_prime_number = first_prime_number + 1
first_prime_number = 3
second_prime_number

3

In [ ]:
y = x + 2
y

NameError: ignored

In [ ]:
## Initialize x as 3
x = 3

Note that Google Colab notebooks preserve the state of the variables. 
Try running the cell below twice and see what the output is

In [ ]:
x = x+1
print(x)        # what do you think the output will be?

6

I want to send my friend a message, how do I store the text?

### Strings
Python makes use of single and double quotes.

In [ ]:
## Double and single quotes can be used interchangeably most of the time.
string = 'Hello, World!'
another_string = "This works too."

In [ ]:
# You need to use double quotes when you have single quotes in your string.
yet_another_string = "Can't use single quotes when you already have them in a string!"
yet_another_string

"Can't use single quotes when you already have them in a string!"

How would I get the computer to display my name?

### Printing 
The main way to ouput data in Python.

In [ ]:
## print(value to be printed)

num = 17

In [ ]:
name = "George"
print(name)

George

In [ ]:
print("My name is {} and I'm {} years old.".format(name, num))

My name is George and I'm 17 years old.

How would I store multiple values in one spot?

### Lists
Lists are containers for data.

In [ ]:
# Lists are enclosed in square brackets 
my_list = [5, 10, 15, 20, 25]

In [ ]:
# You can have different data types in a list.
['string', 8, 5.91]

['string', 8, 5.91]

In [ ]:
# You can also have nested lists.
numbers = [1, [2, 3, 4], 5, [6, [7, 8]], 9]
numbers

[1, [2, 3, 4], 5, [6, [7, 8]], 9]

In [ ]:
numbers.append(10)
numbers

[1, [2, 3, 4], 5, [6, [7, 8]], 9, 10, 10, 10]

How do I access the info I just stored?

In [ ]:
# You can index lists using bracket notation. Indexing begins at 0.
numbers[0]

1

In [ ]:
numbers[1]

[2, 3, 4]

In [ ]:
numbers[3][1][0]        # what do you think the output will be?

7

In [ ]:
my_list = [5, 10, 15, 20, 25]

In [ ]:
# list[start_index(inclusive) : end_index (not inclusive)]
my_list[1:4]

[10, 15, 20]

In [ ]:
# This grabs all elements at position 3 and onwards.
my_list[3:]

[20, 25]

In [ ]:
# This grabs all elements from the start until, but not including potition 2.
my_list[:2]

[5, 10]

In [ ]:
# You can also reassign elements in a list.
numbers[0] = 'one'
numbers

['one', [2, 3, 4], 5, [6, [7, 8]], 9, 10, 10, 10]

I want to carry an umbrella if it is raining outside

## if, elif and else Statements

In [ ]:
raining = None 
if raining==True:
  print("Carry an umbrella")
else: 
  print("It's sunny outside")

Do I have enough meal swipes to enter the dining hall?

In [ ]:
swipes = None 
if swipes > 1: 
  print("Enter dining hall")
else: 
  print("Check out the vending machines")

Can I go to the UCLA v USC football game?

In [ ]:
have_a_ticket = None 
have_a_ride = None 
if have_a_ticket == True and have_a_ride == True:
  print("Go Bruins!!")
elif have_a_ticket == True and have_a_ride == False:
  print("Hitchhike?")
elif have_a_ticket == False and have_a_ride== True: 
  print("Tailgating is still fun?")
else:
  print("Time to review your TV subscription :(")

I want to print out the UCLA chant: <br> U - C - L - A. <br> UCLA. <br> FIGHT FIGHT FIGHT.

## For Loops

In [ ]:
print("U - C - L - A")
print("UCLA. ")
for _ in range(3):
  print("FIGHT")

U - C - L - A
UCLA.
FIGHT
FIGHT
FIGHT

I want to print out the list of classes I'm enrolled in

In [ ]:
classes = ["CS31", "Engcomp 3", "Math 31A"]
for c in classes: 
  print(c)

CS31
Engcomp 3
Math 31A

I wrote a really nice piece of code to print out my name 5 times. <br>
My friend wants to also print out their name 5 times. <br>
Should I just copy-paste my code?

## Functions

In [ ]:
def print_name(name):
  for i in range(5):
    print(name)
  
print_name("Nikhil")
print_name("Sudhanshu")

Nikhil
Nikhil
Nikhil
Nikhil
Nikhil
Sudhanshu
Sudhanshu
Sudhanshu
Sudhanshu
Sudhanshu

In [ ]:
# If you're looking for some extra problems to test out your knowledge, check out this worksheet!
# https://drive.google.com/file/d/1QNRb4aZ_0Bk_nGoosZipVNVywakJJWM_/view?usp=sharing
# https://drive.google.com/drive/u/1/folders/1WnBsZZ2SNN3YfLM8ysgxrI-Ge6IJ-GSu